*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-UI-Regular.woff2") format("woff2"), url("/fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Inter-UI-Italic.woff2") format("woff2"), url("/fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Inter-UI-Bold.woff2") format("woff2"), url("/fonts/Inter-UI-Bold.woff") format("woff");
}

html {
    font-family: 'Inter UI', 'Segoe UI', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.65);
    background-color: #24292e;
    background-image: linear-gradient(#191c20, #24292e 15%);
    /*url(/images/star-bg.svg), linear-...*/
    /* background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0 */
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

.container {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 1012px) {
    .container {
        max-width: 1012px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

.text-center {
    text-align: center !important
}

.pt-40 {
    padding-top: 40px !important;
}

.ptb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.plr-14 {
    padding-right: 14px !important;
    padding-left: 14px !important
}

.mtb-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.mlr-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

a {
    color: #7030A0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.f16 {
    font-size: 16px !important
}

.d-flex {
    display: flex !important
}

.flex-justify-center {
    justify-content: center !important
}

.d-inline-block {
    display: inline-block !important
}

.margin-8 {
    margin: 8px !important
}

.current {
    color: #fff
}



#logo img {
    display: block;
    position: absolute;
    top: 0px;
    left: -1px;
}




.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

/*Nav bar*/
.navbar-main {
    background-color: #24292e;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    border: none;
}

    .navbar-main a {
        color: white;
    }

    .navbar-main li > a:hover,
    .navbar-main li > a:focus {
        background-color: #2e435a;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-main li > a:hover {
        text-shadow: 0px 1px 1px #293c51, 0px 0px 25px #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 25px rgba(255, 255, 255, 0.6);
    }

.navbar li.active {
    background-color: #2e435a;
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .navbar-center .navbar-nav {
        display: inline-flex;
        float: none;
        vertical-align: top;
    }

    .navbar-center .navbar-collapse {
        text-align: center;
    }
}

/*Hamburger button*/
.navbar-main button:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-header span {
    background-color: rgb(255, 255, 255);
}



hero-img {
    background-color: #7030A0;
    background-image: url(/images/bg.jpg), rgba(111, 48, 160, 0.486);

}
